---
const base = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<footer class="l-footer">
  <nav class="l-footer__nav">
    <ul class="l-footer__nav-list">
        <li><a href={`${base}/`}>トップ</a></li>
        <li><a href={`${base}/features`}>特徴</a></li>
        <li><a href={`${base}/projects`}>導入実績</a></li>
        <li><a href={`${base}/purchase`}>買取</a></li>
        <li><a href={`${base}/company`}>会社概要</a></li>
        <li><a href={`${base}/faq`}>よくある質問</a></li>
        <li><a href={`${base}/contact`}>お問い合わせ</a></li>
    </ul>
  </nav>

  <div class="l-footer__inner">
    <p class="l-footer__copy">Copyright © 株式会社ミエフソー<span>&nbsp;</span>All Rights Reserved.</p>
  </div>
</footer>
